<section class="teams-list-container">
  <h1>Lista de Times <!-- <span *ngIf=" !== ''">({{}})</span> --></h1>

  <div class="teams-list">
    <div class="team-box" *ngFor="let team of teamsList">
      <p-card header="{{team.team.name}}" styleClass="p-card-shadow">
        <div class="card-content">
          <div
            class="img-header"
            [ngStyle]="{
              'width': '50%',
              'height': '10rem',
              'background-image': 'url('+team.team.logo+')',
              'background-size': 'contains',
              'background-repeat': 'no-repeat',
              'background-position': 'left'
            }"
          ></div>
          <div class="team-info-container">
            <h2>Informações</h2>
            <ul>
              <li>País: {{team.team.country}}</li>
              <li>Cidade: {{team.venue.city}}</li>
              <li>Ano de Fundação: {{team.team.founded}}</li>
              <li>Estádio: {{team.venue.name}}</li>
            </ul>
            <div class="team-btn">
              <p-button
                pRipple
                label="Acesse para mais informações"
                styleClass="p-button-success"
                [ngStyle]="{'width': '100%'}"
                icon="pi pi-arrow-right"
                iconPos="right"
                (click)="SelectTeam(team.team.id, team.team.name)"
              ></p-button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</section>
