<p-toast position="top-right" key="keyResponse"></p-toast>

<div class="login-container">
  <p-card>
    <p class="login-greetings">Seja bem-vindo ao Meu Time!</p>
    <div class="auth-modes-container">
        <div class="login-box box">
          <div class="login-form">
            <div class="key-field">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-key"></i>
                </span>
                <span class="p-float-label">
                    <input type="text" id="key" pInputText [(ngModel)]="userKey">
                    <label for="key">API Key</label>
                </span>
              </div>
            </div>
            <div class="login-btn">
              <p-button label="Entrar" (click)="SendKey(userKey)"></p-button>
            </div>
          </div>
        </div>
        <div class="divider-vertical">
          <p-divider layout="vertical">
              <b>OU</b>
          </p-divider>
        </div>
        <div class="divider-horizontal">
          <p-divider align="center">
            <b>OU</b>
          </p-divider>
        </div>
        <div class="sign-up-box box">
          <a href="https://dashboard.api-football.com/register" target="_blank"><p-button label="Registre-se para receber a chave" icon="pi pi-user-plus" styleClass="p-button-success"></p-button></a>
          <a href="https://github.com/maatheux/football-project/blob/main/README.md#pré-requisitos" target="_blank">
            <p-button label="Informações sobre a chave" styleClass="p-button-link"></p-button>
          </a>
          <!-- <p-button (click)="GoToSignUp()" label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button> -->
        </div>
    </div>
  </p-card>
</div>
