:host {

  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & > .p-element {
      width: 70%;
      margin: 3rem 0;

      .login-greetings {
        font-weight: 700;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
      }

      .auth-modes-container {
        display: flex;
        justify-content: space-around;

        .box {
          padding: 5rem 0;
        }

        .login-box {

          .key-field {
            margin-bottom: 1rem;
          }

          &::ng-deep {

            .p-button {
              width: 100% !important;
            }
          }
        }

        .divider-horizontal {
          display: none;
        }

        .sign-up-box {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  :host {

    .login-container {
      height: auto !important;

      & > .p-element {
        margin: 1.5rem 0;

        .auth-modes-container {
          flex-direction: column;
          justify-content: flex-start !important;

          .box {
            padding: 2rem 0 !important;
          }

          .divider-horizontal {
            display: block !important;
          }

          .divider-vertical {
            display: none;
          }

          .sign-up-box {
            width: 100%;

            a {
              width: 100%;

              &::ng-deep {

                .p-button {
                  width: 100% !important;
                }
              }
            }

          }
        }
      }

    }
  }
}

