:host {

  .players-list-container {

    .players-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .players-box {
        width: 50%;
        padding: 2rem;

        .card-content {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding: 1rem;

          .player-info-container {
            width: 50%;
          }

          h2 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
          }

          ul {
            margin-bottom: 1rem;
          }

        }

      }
    }
  }
}

@media screen and (max-width: 1080px) {
  :host {
    .players-box {
      width: 100% !important;
      padding: 1rem 5rem !important;
    }
  }
}

@media screen and (max-width: 720px) {
  :host {
    .players-box {
      padding: 1rem 2rem !important;


      .img-header {
        width: 100% !important;
        background-position: center center !important;
        margin-bottom: 2rem;
      }

      .player-info-container {
        width: 100% !important;
        min-height: auto !important;
      }
    }
  }
}
