:host {

  .leagues-list-container{
    h1 {
      font-size: 2rem;
      font-weight: 700;
      margin: 1.8rem 0;
      width: 100%;
      text-align: center;
    }

    .league-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      .league-box {
        width: 50%;
        padding: 2rem;

        h2 {
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 2rem;
        }

        .seasons-list-container {
          min-height: 18rem;

          ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 1rem;

            li {
              width: 25%;
              padding: 0 0.5rem 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  :host {

    .seasons-list-container {
      min-height: 22rem !important;

      li {
        width: 33.3% !important;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  :host {

    .league-box {

      .seasons-list-container {
        min-height: 30rem !important;

        li {
          width: 50% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  :host {

    .league-box {
      width: 100% !important;
      padding: 1rem !important;
    }
  }
}
